<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <input type="text" #localRefereceId />
      <button (click)="getLocalReferecence(localRefereceId.value)">Get Local Reference</button>
      <p>Add new Servers or blueprints!</p>
      <label>Server Name</label>

      <input type="text" class="form-control" [(ngModel)]="newServerName" />
      <label>Server Content</label>
      <input type="text" class="form-control" [(ngModel)]="newServerContent" />
      <br />
      <button
        class="btn btn-primary"
        (click)="onAddServer()"
      >
        Add Server
      </button>
      <button class="btn btn-primary" (click)="onAddBlueprint()">
        Add Server Blueprint
      </button>
    </div>
  </div>
</div>



<!--

  <ng-content></ng-content> tags are used when we want to import the html code that is written inside the
  components tag ie <app-cockpit>   <p>hello </p>     </app-cockpit>  ...this code will be shown in the
  components where there will be ng-content tag

-->
