<div class="container-fluid">
  <h2>MY servers</h2>
  <button (click)="onAddServer()">Add Server</button>
  <br><br>
  <ul>
    <li *ngFor="let server of servers; let i=index" (click)="onRemoveServer(i)">{{server}}</li>
  </ul>
</div>
