<!-- the forms which are handled in the template ie the html file are callded
  template driven forms
  -->

<!-- the template driven forms

  here everything happens in the template ie the html ie validation , submit and getting of data using
  ngmodel so it is called as template driven form

-->
<h1>{{ title }}</h1>

<form #login="ngForm" (ngSubmit)="loginUser(login.value)">
  <input
    type="text"
    name="name"
    placeholder="Enter the name"
    ngModel
    required
    #name="ngModel"
    email
  />
  <br />
  <!-- if the name.is invaild  -->
  <span *ngIf="name.invalid && name.touched" style="color: red"
    >Enter the valid Input</span
  >
  <br />
  <input type="text" name="password" minlength="3" #password="ngModel" required placeholder="enter Password" ngModel />
  <br />
  <span *ngIf="password.invalid && password.touched" style="color: red"
    >Enter the valid password</span
  >
  <br /><br />
  <button type="submit" [disabled]="login.invalid">Login</button>
</form>

<button (click)="loginUser(login.value)">Outside Login</button>
