<div class="row">
  <div class="col-xs-12">
    <!-- <div class="panel panel-default" *ngFor="let element of serverElements"> -->
      <div class="panel-heading">{{ element.name }}</div>
      <div class="panel-body">
        <p>
          <strong *ngIf="element.type === 'server'" style="color: red">{{
            element.content
          }}</strong>
          <em *ngIf="element.type === 'blueprint'">{{ element.content }}</em>
        </p>
      </div>
    <!-- </div> -->
  </div>
</div>
