<app-cockpit (serverCreated)="onServerAdded($event)"  (bluePrintCreated)="onAddBlueprintAdded($event)" ></app-cockpit>
  <hr />
<app-server-element *ngFor="let serverElement of serverElements" [element]="serverElement"></app-server-element>
