<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onlyOdd = !onlyOdd">
        Only show odd numbers
      </button>
      <br><br>
      <ul class="list-group">
        <div *ngIf="onlyOdd">
          <li *ngFor="let oddNo of oddNumbers" [ngClass]="{'odd': onlyOdd}">{{oddNo}}</li>
        </div>
        <div *ngIf="!onlyOdd">
          <li *ngFor="let evenNo of evenNumbers"  [ngClass]="{'even': !onlyOdd}" [ngStyle]="{'background-color': 'red'}">{{evenNo}}</li>
        </div>
      </ul>
    </div>
  </div>
</div>
