<!-- for the string interpolation use the {{var}}  -->
<h1>This is String Interpolation</h1>
<h4>The server id is {{ serverId }} and the status is {{ serverStatus }}</h4>

<h4 aria-disabled="serverStat">
  The server id is {{ serverId }} and the status is {{ getServerStatus() }}
</h4>

<!-- for the property binding use the [] brackets in the html attributes  -->

<button class="btn btn-primary" [disabled]="!allowNewServer">Add Server</button>

<p [innerText]="allowNewServer"></p>

<!-- event binding  -->
<button (click)="onCreateServer()">Click to create an server</button>

<p>{{ serverCreationStatus }}</p>

<!-- passing and using the data with event binding-->
<label> Server Name :- </label>
<input type="text" #inputData (input)="onUpdateServerName(inputData.value)" />
<h4>{{ serverInput }}</h4>

<!-- -------------------------- 2 way binding using form module -------------------------- -->
<label> Server Name :- </label>
<input type="text" [(ngModel)]="twoWayBindingData" />
<h4>{{ twoWayBindingData }}</h4>

<!-- -------------------------------------- Directives ------------------------------------------ -->
<!-- directives are nothing but the if else and for  -->

<!-- *ngIf -->
<h4 *ngIf="serverCreated">Server was created</h4>

<h1>If else direvatives</h1>
<hr />
<!-- if else    method 1 -->
<ng-container *ngIf="serverCreated; else elseTemplate">
  Server was created
</ng-container>
<ng-template #elseTemplate> server was not created </ng-template>

<hr />
<h1>Method 2</h1>
<!-- if else    method 2 -->

<h4 *ngIf="serverCreated; else elseTemplate">Serve is Created</h4>
<ng-template #elseTemplate> No server Created </ng-template>

<hr />
<!-- -------------------------------------- Using ngstyle ------------------------------------------ -->
<!-- syntax   [ngStyle]="{'property': expression}"               -->
<h4 [ngStyle]="{ 'background-color': 'red' }">This is the ngstyle line</h4>

<h2 [ngStyle]="{ 'background-color': getColor() }">
  This is other form of ngstyle
</h2>

<!-- -----------------------------NG CLASS --------------------------------------------- -->
<hr />
<h1>This is ng class documentation</h1>

<h4 [ngClass]="{ online: classStatus == 'online' }">
  This is the class documentation
</h4>
<!--             classname :  ifexpression                   -->

<!-- =--------------------------- NG FOR -----------------------------------------   -->
<div>
  <h4 *ngFor="let item of servers">{{item}}</h4>
</div>
