<!-- Reactive forms

  reactive forms means the most of the operations of binding and getting as well as validators
  are done in the ts file so its called reactive

-->

<h1>{{ title }}</h1>

<form [formGroup]="loginForm" (ngSubmit)="loginUser()">
  <input type="text" placeholder="enter Name" formControlName="user" />
  <br />
  <!-- display errors here -->
  <!-- usergetter gets the user formgroup only so it becomes easier to do validation
    -->
  <span
    *ngIf="usergetter && usergetter.invalid && usergetter.touched"
    style="color: red"
    >This input field is not valid</span
  >

  <br />
  <input type="text" placeholder="enter password" formControlName="password" />
  <br />
  <span
    *ngIf="passwordGetter && passwordGetter.invalid && passwordGetter.touched"
    style="color: red"
    >This input field is not valid</span
  >
<br />
  <button [disabled]="loginForm.invalid">Login</button>
</form>
